{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "id" : $util.dynamodb.toDynamoDBJson($ctx.args.input.id),
    },
    #set ( $attrs = $util.map.copyAndRemoveAllKeys($ctx.args.input, ["id"]) )
    $util.qr($attrs.put("authenticated", $util.defaultIfNull($attrs.authenticated, false)))
    "attributeValues" : $util.dynamodb.toMapValuesJson($attrs)
}