{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "optionId" : $util.dynamodb.toDynamoDBJson($ctx.args.optionId),
        "id" : $util.dynamodb.toDynamoDBJson($util.autoId()),
    },
    "attributeValues" : {
        #set( $createDate = $util.time.nowISO8601()  )
        "pollId": $util.dynamodb.toDynamoDBJson($ctx.args.pollId),
        "createdOn" : $util.dynamodb.toDynamoDBJson("${createDate}")
    }
}