{
    "version": "2017-02-28",
    "operation": "Query",
    "index": "optionId-index",
    "query": {
        "expression": "optionId = :optionId",
        "expressionValues": {
            ":optionId": {
                "S": "$context.source.id"
            }
        }
    }
}

