{
    "version": "2017-02-28",
    "operation": "Query",
    "index": "pollId-index",
    "query": {
        "expression": "pollId = :pollId",
        "expressionValues": {
            ":pollId": {
                "S": "$context.source.id"
            }
        }
    }
}

