{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
        "id" : $util.dynamodb.toDynamoDBJson($ctx.stash.incId)
    },
    "update" : {
        "expression" : "ADD #attr :plusOne",
        "expressionNames" : {
            "#attr" : "${ctx.stash.incAttr}"
        },
        "expressionValues" : {
            ":plusOne" : $util.dynamodb.toDynamoDBJson($util.defaultIfNull($ctx.stash.incBy, 1))
        }
    }
}