{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "id" : $util.dynamodb.toDynamoDBJson($util.autoId()),
    },
    #set ( $attrs = $util.defaultIfNull($ctx.args.input, $ctx.args) )
    #set( $attrs.version = $util.defaultIfNull($attrs.version, 1) )
    "attributeValues" : $util.dynamodb.toMapValuesJson($attrs)
}